# Core
streamlit
python-dotenv

# LangChain Ecosystem
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface

# Vector store
chromadb
langchain_chroma
protobuf~=3.19.0
sqlite3 >= 3.35.0


# PDF support
PyPDF2

# Embeddings & Transformers
sentence-transformers
transformers
torch

# Optional but useful
tqdm
typing_extensions